build
compile_commands.json
.cache/
*.swp
__pycache__/

*.cmd
*.symvers
*.ko
*.mod.*
*.mod
*.o
*.order

# quartus
/map/pcihello_restored/.qsys_edit
/map/pcihello_restored/db
/map/pcihello_restored/incremental_db
/map/pcihello_restored/pcihellocore/synthesis/submodules